@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

html.dark body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.card {
  background-color: #1e4fe4;
}

h1, h2 {
  text-align: center;
  margin: 4rem 0;
  font-size: 2.5rem;
}

html.light {
  background-color: #ffffff;
  color: #000000;
}

html.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

input,
textarea,
select {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

html.dark input,
html.dark textarea,
html.dark select {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #555;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  color: #000;
}

html.dark nav {
  background-color: #1e1e1e;
  color: #fff;
}

nav a {
  margin-right: 1.5rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: 0.3s;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 1.2rem;
  transition: 0.3s;
}

nav button:hover {
  color: #646cff;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  html:not(.dark) body {
    background-color: #f9f9f9;
    color: #333;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
    line-height: 1.5;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  nav a,
  nav button {
    font-size: 0.80rem;
    margin: 0.5rem 0;
  }
}